body {
  background-image: url(../assets/BYNpexels-pixabay-33286.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0%;
}

.home-logo-container {
  display: flex;
  justify-content: center;
}

.logo-container {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  top: 0px;
  left: 0px;
}

.home-logo {
  width: 190px;
}

.logo {
  width: 70px;
  margin-left: 190%;
}

.nav-homepage {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.nav-allpages {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  background-color: black;
}

.homepage-list-container {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 70%;
  padding: 1%;
  background-color:rgb(0, 0, 0, 0.9);
  border-radius: 15px;
}

.list-container {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 70%;
  background-color:rgb(0, 0, 0, 0.9);
}

nav > ul > li {
  padding: 10px;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

.yellow-button {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(235, 177, 42);
  border-radius: 5px;
}

h1 {
  font-size: 70px;
  font-weight: 800;
  color: rgb(248, 179, 18);
  text-shadow: black 0.1em 0.1em 0.1em;
  margin-top: 3%;
  margin-bottom: 0%;
}

.textE-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  padding: 10px;
  background-color: rgb(235, 177, 42, 0.9);
  border-radius: 15px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 1) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.textA-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 45%;
  padding: 10px;
  margin-bottom: 2%;
  background-color: rgb(235, 177, 42, 0.9);
  border-radius: 15px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 1) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.textC-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  padding: 10px;
  background-color: rgb(235, 177, 42, 0.9);
  border-radius: 15px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 1) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.textR1-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  padding: 10px 10px 0px 10px;
  margin-top: 2%;
  border-radius: 15px;
  background-color: rgb(235, 177, 42, 0.9);
  text-align: center;
  box-shadow: rgba(0, 0, 0, 1) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.textR2-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin-top: 2%;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(235, 177, 42, 0.9);
  box-shadow: rgba(0, 0, 0, 1) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.textR3-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  padding: 10px 10px 0px 10px;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 15px;
  background-color: rgb(235, 177, 42, 0.9);
  text-align: center;
  box-shadow: rgba(0, 0, 0, 1) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.table-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 10px;
  margin-bottom: 1%;
  background-color: rgb(235, 177, 42, 0.9);
  border-radius: 15px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 1) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.moreinfo-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.more-info1 {
  display: flex;
  flex-direction: column;
  width: 23%;
  padding: 10px;
  border-radius: 15px;
  margin-right: 1.5%;
  background-color: rgb(235, 177, 42, 0.9);
  box-shadow: rgba(0, 0, 0, 1) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.more-info2 {
  display: flex;
  flex-direction: column;
  width: 23%;
  padding: 10px;
  margin-left: 1.5%;
  border-radius: 15px;
  background-color: rgb(235, 177, 42, 0.9);
  box-shadow: rgba(0, 0, 0, 1) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

h2 {
  font-size: 40px;
  margin-top: 10px;
  font-weight: 800;
  margin-bottom: 15px;
}

.h2R-container {
  background-color: rgb(0, 0, 0, 0.9);
  width: 60%;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
  margin-top: 2%;
}

.h2R-container > h2 {
  font-size: 40px;
  font-weight: 800;
  color: white;
  margin-bottom: 0%;
  margin-top: 0%;
}

.h2R-container > span {
  color: white;
  text-align: center;
  margin-bottom: 1%;
}

h3 {
  margin-top: 0px;
  font-weight: 700;
  font-size: 20px;
}

.rule2 > h3 {
  text-align: center;
}

h4 {
  margin-top: 7px;
}

.paragraph {
  margin-top: -12px;
  font-size: 17px;
  font-weight: 500;
}

.Aparagraph {
  margin-top: -12px;
  font-size: 16px;
  font-weight: 500;
}

.C1paragraph {
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
}

.rules-text1 {
  margin-top: -7px;
}

.ol-rules ::marker {
  font-weight: bold;
}

.ol-li-rules {
  padding-bottom: 20px;
  padding-right: 2%;
  margin-top: 0px;
  text-align: justify;
  text-justify: inter-word;
}

.rules-text2 {
  display: inline;
  padding-bottom: 3px;
}

.in-ol-rules {
  margin-left: -39px;
  margin-top: -15px;
  list-style-type: lower-alpha;
}

.in-ol-rules ::marker {
  font-weight: bold;
}

.rules-li-text {
  margin: 5px 0px;
}

span {
  font-weight: bold;
}

.rules-text3 {
  margin-top: -7px;
}

.circle-li {
  list-style-position: inside;
  list-style-type: circle;
  margin-left: -35px;
  margin-top: -7px;
}

.ptable {
  margin-top: 1%;
  margin-bottom: 2%;
}

table {
  width: 70%;
  margin-bottom: 3%;
  
}

th {
  padding: 7px 7px;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.9);
  color: wheat;
  font-size: 17px;
}

tr {
  text-align: center; 
  font-size: 16px;
}

tr :hover{
  background-color: rgba(170, 170, 177, 0.9);
}

td {
  border-bottom: 1px solid #ddd;
  padding: 4px 4px;
  font-size: 17px;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.group-info1 {
  margin: 1%;
  text-align: justify;
}

.group-info1 > p {
  display: inline;
}

.h2GI-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.9);
  width: 45%;
  padding: 5px;
  border-radius: 15px;
  margin-top: 3%;
  margin-bottom: 1%;
}

.h2GI-container > h2 {
  font-size: 40px;
  font-weight: 800;
  color: white;
  margin-bottom: 5px;
  margin-top: 0px;
}

.GI-H2-span {
  font-size: 40px;
  font-weight: 800;
  color: white;
  margin-bottom: 5px;
  margin-top: 0px;
}

.h2A-container {
  background-color: rgb(0, 0, 0, 0.9);
  width: 35%;
  padding: 5px;
  border-radius: 15px;
  margin-top: 3%;
  margin-bottom: 1%;
}

.h2A-container > h2 {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  color: white;
  margin-bottom: 5px;
  margin-top: 0px;
}

.h2E-container {
  background-color: rgb(0, 0, 0, 0.9);
  width: 35%;
  padding: 5px;
  border-radius: 15px;
  margin-top: 4%;
  margin-bottom: 1%;
}

.h2E-container > h2 {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  color: white;
  margin-bottom: 5px;
  margin-top: 0px;
}

.h2C-container {
  background-color: rgb(0, 0, 0, 0.9);
  width: 25%;
  padding: 5px;
  border-radius: 15px;
  margin-top: 3%;
  margin-bottom: 1%;
}

.h2C-container > h2 {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  color: white;
  margin-bottom: 5px;
  margin-top: 0px;
}

.h1-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

footer {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  height: 13%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
  padding-bottom: 1%;
 }

footer > p {
  margin-bottom: 0.5%;
}

.lesscontent-footer {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  position: fixed;
  bottom: 0%;
  height: 12%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding-bottom: 1%;
}

.footer-b {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 5px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-bottom: 2%;
}

.footer-b:hover {
  background-color: rgb(235, 177, 42, 0.9);
}

.footer-b span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.footer-b span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.footer-b:hover span {
  padding-right: 25px;
}

.footer-b:hover span:after {
  opacity: 1;
  right: 0;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  margin: 2% 0%;
}

.card1-container {
  width: 100%;
  text-align: center;
  padding: 1%;
  margin: 0% 1%;
  background-color: rgb(235, 177, 42, 0.9);
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
  transition: 0.3s;
  border-radius: 5px;
}

.card1-container > span {
  font-size: 19px;
}

.card1-container > p {
  padding: 0%;
  margin: 0%;
  font-size: 16px;
  padding-top: 3%;
}

iframe {
  border-radius: 5px;
}

/* On mouse-over, add a deeper shadow */
.card1-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
}

.card2-container {
  width: 100%;
  text-align: center;
  padding: 1%;
  margin: 0% 1%;
  background-color: rgb(235, 177, 42, 0.9);
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
  transition: 0.3s;
  border-radius: 5px;
}

.card2-container > span {
  font-size: 19px;
}

.card2-container > p {
  padding: 0%;
  margin: 0%;
  font-size: 16px;
  padding-top: 3%;
}

/* On mouse-over, add a deeper shadow */
.card2-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
}

.card3-container {
  width: 100%;
  text-align: center;
  padding: 1%;
  margin: 0% 1%;
  background-color: rgb(235, 177, 42, 0.9);
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
  transition: 0.3s;
  border-radius: 5px;
}

.card3-container > span {
  font-size: 19px;
}

.card3-container > p {
  padding: 0%;
  margin: 0%;
  font-size: 16px;
  padding-top: 3%;
}

/* On mouse-over, add a deeper shadow */
.card3-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
}

.card4-container {
  width: 100%;
  text-align: center;
  padding: 1%;
  margin: 0% 1%;
  background-color: rgb(235, 177, 42, 0.9);
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
  transition: 0.3s;
  border-radius: 5px;
}

.card4-container > span {
  font-size: 19px;
}

.card4-container > p {
  padding: 0%;
  margin: 0%;
  font-size: 16px;
  padding-top: 3%;
}

/* On mouse-over, add a deeper shadow */
.card4-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
}

.card5-container {
  width: 100%;
  text-align: center;
  padding: 1%;
  margin: 0% 1%;
  background-color: rgb(235, 177, 42, 0.9);
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
  transition: 0.3s;
  border-radius: 5px;
}

.card5-container > span {
  font-size: 19px;
}

.card5-container > p {
  padding: 0%;
  margin: 0%;
  font-size: 16px;
  padding-top: 3%;
}

/* On mouse-over, add a deeper shadow */
.card5-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
}

.card6-container {
  width: 100%;
  text-align: center;
  padding: 1%;
  margin: 0% 1%;
  background-color: rgb(235, 177, 42, 0.9);
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
  transition: 0.3s;
  border-radius: 5px;
}

/* On mouse-over, add a deeper shadow */
.card6-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
}

.card6-container > span {
  font-size: 19px;
}

.card6-container > p {
  padding: 0%;
  margin: 0%;
  font-size: 16px;
  padding-top: 3%;
}

.h2RF-container {
  background-color: rgb(0, 0, 0, 0.9);
  width: 40%;
  padding: 6px;
  border-radius: 15px;
  text-align: center;
  margin-top: 2%;
  
}

.h2RF-container > h2 {
  font-size: 40px;
  font-weight: 800;
  color: white;
  margin-bottom: 0.5%;
  margin-top: 0%;
}

.h2RF-container > span {
  color: white;
  text-align: center;
  font-size: 18px;
}

.form-section {
  display: flex;
  justify-content: center;
  height: 180vh;
}

.form-container {
  display: flex;
  justify-content: center;
  width: 50%;
  /* background-color: rgb(190, 182, 182, 0.3); */
  background-color: rgb(235, 177, 42, 0.9);
  padding: 0% 1% 2% 2%; 
  margin-top: 1%;
  margin-bottom: 2%;
  border-radius: 15px;
}

.yourinf {
  margin-top: 0%;
}

form {
  margin: 4% 0%;
}

.form-first-part {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.form-part1 {
  padding: 0% 2% 2% 0%;
}

.form-part1 > input {
padding: 0.3%;
}

.form-part2 {
  padding: 0% 0% 2% 0%;
}

.form-part2 > input {
  padding: 0.3%;
}
  
.form-part3 {
  padding: 0% 0% 2% 0%;
  width: 100%;
}

.form-part3 > input {
  padding: 0.3%;
}

.form-city-zip {
  display: flex;
  
}

.form-part4 {
  padding: 0% 2% 2% 0%;
}

.form-part5 {
  padding: 0% 0% 2% 0%;
}

.form-part6 > input {
  font-family: unset;
  padding: 1%;
  margin-left: 1%;
  width: 79%;
}

.gender {
  display: flex;
  margin-top: 2%;
}

.gender > select {
  display: inline;
  font-family: unset;
  padding: 1%;
  margin-left: 1%;
  width: 85%;
}

.gender > label {
  padding: 1% 1% 1% 0%;
}

.grade {
  display: flex;
  margin-top: 2%;
}

.grade > select {
  display: inline;
  font-family: unset;
  padding: 1%;
  margin-left: 1%;
  width: 87%;
}

.grade > label {
  padding: 1% 1% 1% 0%;
}

.h3-sch {
  margin-top: 5%;
  margin-bottom: 0%;
}

.close-sch {
  display: flex;
  margin-top: 1%;
  margin-bottom: 4%;
}

.close-sch > select {
  display: inline;
  font-family: unset;
  padding: 1%;
  margin-left: 1%;
  width: 76%;
}

.close-sch > label {
  padding: 1% 1% 1% 0%;
  font-size: 17px;
}

.h3-posi {
  margin-top: 4%;
  margin-bottom: 0%;
}

.position {
  display: flex;
  margin-top: 1%;
}

.position > input {
  padding: 3%;
  width: 3%;
  opacity: 0.4;
  background-color: rgb(255, 255, 255, 0.3);
  cursor: pointer;
}

.position > label {
  padding: 2%;
  font-size: 18px;
}

.uniform {
  display: flex;
  margin-bottom: 4%;
}

.uniform > select {
  margin-top: 1%;
  display: inline;
  font-family: unset;
  padding: 1%;
  width: 97%;
  font-size: 17px;
}

.h3-uni {
  margin-top: 2%;
  margin-bottom: 0%;
}

.pertoplay {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 3%;
}

.ptoplay > p {
  padding: 0%;
  padding-right: 3%;
  margin: 0%;
  text-align: justify;
  text-justify: inter-word;
}

.h3-ptoplay {
  margin-top: 2%;
  margin-bottom: 1%;
}

.pertop-1 > input{
  margin-bottom: 2%;
  width: 62%;
  padding: 1%;
}

.pertop-2 > input {
  font-family: unset;
  padding: 1%;
  margin-left: 1%;
  width: 88%;
}

input[type=text] {
  border-radius: 5px;
  border: none;
  background-color: rgb(255, 255, 255, 0.3);
  font-family: unset;
  font-size: 16px;
}

input[type=date] {
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0.3);
}

select {
  border-radius: 5px;
  border: none;
  background-color: rgb(255, 255, 255, 0.3);
}

.form-b {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 5px;
  margin-top: 2%;
  width: 98%;
  transition: all 0.5s;
  cursor: pointer;
  margin-bottom: 2%;
}

.form-b:hover {
  background-color: #f4511e;
}

.form-b span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.form-b span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.form-b:hover span {
  padding-right: 25px;
}

.form-b:hover span:after {
  opacity: 1;
  right: 0;
}